body {
    background-color: #89CFF0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #F0FFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"], textarea {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  input[type="button"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  input[type="button"]:hover {
    background-color: #3E8E41;
  }
  
  #error {
    color: red;
    font-weight: bold;
  }
  